{% autoescape off %}
<!DOCTYPE html>
<html>
<body>
<p><strong>🇺🇿 Hurmatli foydalanuvchi,</strong></p>
<p>Parolni tiklash uchun quyidagi havolaga o'ting:</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
    Parolni tiklash
</a></p>

<hr>

<p><strong>🇷🇺 Уважаемый пользователь,</strong></p>
<p>Чтобы восстановить пароль, перейдите по следующей ссылке:</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
    Восстановить пароль
</a></p>

<hr>

<p><strong>🇬🇧 Dear user,</strong></p>
<p>To reset your password, click the link below:</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
    Reset password
</a></p>

<p>Your username: {{ user.get_username }}</p>

<hr>
<p>Thanks for using our site!</p>
</body>
</html>
{% endautoescape %}
